h1{
    color: blue;
}
.goodbye{
    color: black;
}
#Second-goodbye{
    color: purple;
}
h1{
    border: 10px dashed violet;
    border-radius: 20px 10px 10px 20px;
    padding: 10px;
    margin: 20px;
    margin-top: 30px;
}