h1{
    color: blue;
}
.goodbye{
    color: black;
}
#Second-goodbye{
    color: purple;
}
h1{
    border: 10px dashed violet;
    border-radius: 20px 10px 10px 20px;
    padding: 10px;
    margin: 20px;
    margin-top: 30px;
}
line{
   padding: 20px; 
   margin: 40px;
}
ol{
    background-image: url(https://th.bing.com/th/id/OIP.zKZE5ragNQSvnQqX4XeeaQHaEo?rs=1&pid=ImgDetMain);
    background-repeat: no-repeat;
    background-size: 30% 100%;
    background-attachment: scroll;
}